body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#App-Container {
    display: flex;
    width: 500px;
    background-color: white;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 5px;
    flex-direction: column;
}

#App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(25, 173, 124);
    color: white;
}

.form-box-field {
    display: flex;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: .5px grey solid;
    border-radius: 5px;

}

#chatinterface {
    display: flex;
    width: 900px;
    height: 900px;
    background-color: greenyellow;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#App-Container-App {
    display: flex;
    width: 1050px;
    background-color: white;
    height: 1250px;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 5px;
    flex-direction: column;
}

.chatmessage {
    display: flex;
    background-color: rgb(13, 255, 255);
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 30px;
}